.container{
    background-color: #ffffff;
    height: 80vh;
    width: 50vh;
    border-radius: 1rem;
}

.gif{
    background-image: url(../../assets/img/gif_1.gif);
    background-size: 75%;
    background-position: center center;    
    background-repeat: no-repeat;

}

.not_found{
    background-image: url(../../assets/img/not_found_data.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content_container{
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 90%;
    margin: 1.5rem auto;
}

img{
    background-color: rgba(182, 182, 182, 0.791);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
}


#temp{
    font-size: 4rem;
}

#weather_description{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 1.7rem;
    border-radius: .4rem;

}

#weather_description h1{
    margin-left: .3rem;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;


    border: 1px solid black;
    border-radius: 1rem;
    height: 10vh;
    margin-top: 11vh;
}

.place{
    color: black;
    width: 100%;
    text-align: right;
    margin-top: 24vh ;
}
.error{
    text-align: center;
    margin-top: 60vh;
}
.error h1{
    color: #007dff;
}

